{% extends "bootstrap/base.html" %}

{% block title %}SAFEDRIVE{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
<div class="text-center">
    <div class=" col-md-1 col-sm-1 col-xs-1"></div>
    <div class=" col-md-10 col-xs-10 col-sm-10 grid">
        <header class=" page-header">
            <h1 class="h1 text-center">SAFE DRIVE</h1>
        </header>


        <div class=" text-center">
            <h3 id="question" class=" text-primary h3"></h3>
        </div>

        <div class="button text-center col-md-10 btn-group-justified">
            <button class=" btn-primary btn-lg" id="option_0"></button>
            <button class=" btn-primary btn-lg" id="option_1"></button>
            <button class=" btn-primary btn-lg" id="option_2"></button>
            <button class=" btn-primary btn-lg" id="option_3"></button>
        </div>

        <div class="text-center col-md-10">
            <p id="progress" class=" text-info">Qustion x of y</p>
        </div>
    </div>
    
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='controller.js') }}"></script>
<script src="{{ url_for('static', filename='Test.js') }}"></script>
<script src="{{ url_for('static', filename='safedrive.js') }}"></script>
{% endblock %}


