{% extends "base.html" %}

{% block page_content %}
<div class=" page-header">
    <h1 class="h1">Data Visualization</h1>
</div>

<div class=" col-md-12 text-center" >
    <h1>Age plot</h1>
    {{ the_div2|safe }}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
    {{ the_script2|safe }}
</div>
<br><br><hr>
<div class=" col-md-6">
    
        <h1>Time plot</h1>
        {{ the_div1|safe }}
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
        {{ the_script1|safe }}
</div>
<div class=" col-md-6">
    
        <h1>The Day of the Week plot</h1>
        {{ the_div3|safe }}
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
        {{ the_script3|safe }}
</div>
<br><br><hr>
<div class=" col-md-6">
    
        <h1>Citywise plot</h1>
        {{ the_div4|safe }}
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
        {{ the_script4|safe }}
</div>
<div class=" col-md-6">
    
        <h1>Localitywise plot</h1>
        {{ the_div5|safe }}
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
        {{ the_script5|safe }}
</div>

 {% endblock %}
