{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}

<div class=" jumbotron container-fluid text-justify" style="background-color:dimgrey;color:whitesmoke;padding:5%;margin:-1%;">
    <h1 class=" h1">DON'T DRINK AND DRIVE</h1>
    <br>
    <h3 class="h3">If you've been out drinking and need to get home catch a taxi or find a designated driver</h3>
    <br>
    <h3 class=" h3">The Consequences of drunk driving are simply not worth the risk</h3>
</div>
<div class=" col-md-8 text-justify" style="margin-top:5%;">
    <p class=" h3">It is a common Knowledge that drinking and driving is a crime with serious penalties. It is also common Knowledge
        that is is dangerous to get behind the wheels of a vehicle if you are under the influence of alcohol. Yet every day hundrends of people
        are fatally injured in a motor vehicle accidents that involoves a drunk driver. This application is developed in hope of reducing such drunk driving related accidents. 
    </p>
</div>
{% endblock %}