{% extends "base.html" %}

{% block page_content %}
<div class="page-header user-profile">
    <div class="user-avatar" style="margin:2%;"><img src="{{ user.gravatar(128) }}">
        {% if current_user == user %}<a class="btn btn-default pull-right" href="{{ url_for('safedrive.profile') }}">Edit Profile</a>{% endif %}
        <h1 class=" h1" style="color:orangered;display:inline-block;margin:2%;" >{{ user.username }}</h1>
    </div>
    
    <div class=" text-justify" style="margin:2%;">
        {% if user.name %}<h4 class="h4"><span style="color:orangered">Name : </span>{{ user.name }}</h4> {% endif %}
        
        {% if user.email %}<h4 class="h4"><span style="color:orangered">E-mail : </span>{{ user.email }}</h4> {% endif %}
       
        {% if user.device_id %}<h4 class="h4"><span style="color:orangered">Device-Id : </span>{{ user.device_id }}</h4> {% endif %}
    
        {% if user.phone_no %}<h4 class="h4" ><span style="color:orangered">Phone Number : </span>{{ user.phone_no }}</h4> {% endif %}
  
        {% if user.emergency_no %}<h4 class="h4"><span style="color:orangered">Emergency Number : </span>{{ user.emergency_no }}</h4> {% endif %}
        
        {% if user.address %}<h4 class="h4"><span style="color:orangered">Address : </span>{{ user.address }}</h4> {% endif %}
        
    </div>
   
    
    
</div>

{% endblock %}